body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.grid {
  display: grid;
  grid-template-columns: 30% 1fr;
  gap: 10px;
  padding-bottom: 10px;
}

.border {
  padding-right: 5px;
  padding-top: 20px;
}

.img {
  width: 300px;
}

.descriptionContainer {
  text-align: left;
  padding-left: 10px;
}

.description {
  width: 95%;
  padding: 5px 5px 0 5px;
}

.reserved {
  background-color: #18a2b8;
  color: #fff;
  font-size: 0.8rem;
  border-radius: 8px;
  margin-right: 10px;
  margin-left: 0;
  padding: 2px 8px;
}

.btn1 {
  padding: 10px 10px;
  background-color: #0084ff;
  color: #fff;
  border-radius: 3px;
  border-style: none;
  margin-right: 10px;
}

.btn2 {
  padding: 5px 10px;
  background-color: transparent;
}
