.nav {
  width: 100%;
}

.hr {
  border-top: 1px solid rgb(226, 222, 216);
}

.ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0 10px;
  margin: 0;
  margin-bottom: 30px;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  gap: 10px;
}

.img {
  width: 60px;
}

.logoName {
  font-size: 2.4rem;
  margin: 10px;
}

.right {
  margin-left: auto;
}

.normalLink {
  color: #54a0f8;
  padding: 5px 10px;
}

.border {
  border-left: 1px solid #000;
}
